@import "../../styles/Variables.module.scss";

.page {
  font-family: $primaryFontStyle;
}

.content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 50px;
}

html {
  scroll-behavior: smooth;
}
