@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$primaryFontStyle: "Noto Sans", sans-serif;
$primaryH1FontSize: 52px;
$primaryH2FontSize: 24px;
$primaryH3FontSize: 18px;
