@import "../../styles/Variables.module.scss";

.position {
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.hamburger {
  width: 55px;
  height: 35px;
  position: relative;
  margin: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    .line-1 {
      transform: translateY(-4px);
    }
    .line-2 {
      transform: translateY(1px);
    }
    .line-3 {
      transform: translateY(4px);
    }
  }

  &.active {
    .line-1 {
      transform: translateY(17px) rotate(45deg);
    }
    .line-2 {
      opacity: 0;
    }
    .line-3 {
      transform: translateY(-17px) rotate(-45deg);
    }
  }
}

.line {
  background: $secondaryTextColor;
  width: 75px;
  height: 10px;
  position: absolute;
  border-radius: 5px;
  transition: all 0.8s;

  &.line-1 {
    top: 0%;
  }
  &.line-2 {
    top: 50%;
    transform: translateY(-50%);
  }
  &.line-3 {
    top: 100%;
    transform: translateY(-100%);
  }
}
